.footer {
  margin-top: 3vh;
  padding: 1rem;
  text-transform: capitalize;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.footer .box-container .box {
  flex: 1 1 2rem;
}

.footer .box-container .box h3 {
  color: #333;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  color: #333;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: black;
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  padding-top: 2.5rem;
  color: black;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 9rem; */
  page-break-before: auto;
}
